{% extends "base.html" %}

{% load bootstrap3 tz %}


{% block page_title %}{% if object.pk %}Edit Your{% else %}Create an{% endif %} Event | {{ block.super }}{% endblock %}

{% block title %}{% if object.pk %}Edit Your{% else %}Create an{% endif %} Event{% endblock %}


{% block content %}

    <div class="col-sm-6 col-sm-offset-3">
        
        <form action="" method="post">
            {% csrf_token %}
                            
            {% bootstrap_form_errors form %}                
                            
            <h2>Event Information</h2>
            <hr>
            <div class="row">
	            <div class="col-md-5">
		            {% bootstrap_field form.event_type %}
	            </div>
	            
	            <div class="col-md-12">
		            {% bootstrap_field form.name %}
	            </div>
	            
	            <div class="col-md-12">
		            {% bootstrap_field form.description %}
	            </div>
	            
	            <div class="col-md-12">
		            {% bootstrap_field form.capacity %}
	            </div>
            </div>
	                        
            <h2>Date and Time</h2>
            <hr>
            <div class="row">
	            <div class="col-md-6">
		            {% bootstrap_field form.start_day %}
	            </div>
	            <div class="col-md-6">
		            {% bootstrap_field form.start_time %}
	            </div>
	            <div class="col-md-6">
		            {% bootstrap_field form.start_tz %}
	            </div>
	            <div class="col-md-6">
		            {% bootstrap_field form.duration %}
	            </div>
	            <div class="col-md-6">
		            {% bootstrap_field form.duration_unit %}
	            </div>
            </div>
            
            <h2>Location</h2>
            <hr>
            <div class="row">
	            <div class="col-md-12">
		            {% bootstrap_field form.venue_name %}
	            </div>
	            
	            <div class="col-md-12">
		            {% bootstrap_field form.venue_addr1 %}
		            {% bootstrap_field form.venue_addr2 label_class="hidden" %}
	            </div>
	            
	            <div class="col-md-4">
		            {% bootstrap_field form.venue_city %}
	            </div>
	            
	            <div class="col-md-4">
		            {% bootstrap_field form.venue_state_cd %}
	            </div>
	            
	            <div class="col-md-4">
		            {% bootstrap_field form.venue_zip %}
	            </div>
	            
	            <div class="col-md-12">
		            {% bootstrap_field form.venue_directions %}
	            </div>
            </div>
            
            <h2>Host Information</h2>
            <hr>
            <div class="row">
	            <div class="col-md-6">
		            {% bootstrap_field form.creator_name %}
	            </div>
	            
	            <div class="col-md-6">
		            {% bootstrap_field form.contact_phone %}
	            </div>
	            
	            <div class="col-md-12">
		            {% bootstrap_field form.public_phone %}
	            </div>
	            
	            <div class="col-md-12">
		            {% bootstrap_field form.host_receive_rsvp_emails %}
	            </div>
            </div>
            
            {% bootstrap_field form.venue_country %}
            {% bootstrap_field form.creator_cons %}
                            
            {% buttons %}
                <button type="submit" class="btn btn-lg btn-primary btn-block">{% if object.pk %}Update My Event{% else %}Create My Event!{% endif %}</button>
            {% endbuttons %}
        </form>
                        
    </div>


{% endblock %}