{% extends "base.html" %}

{% load bootstrap3 tz %}


{% block page_title %}{% if object.pk %}Edit Your{% else %}Create an{% endif %} Event | {{ block.super }}{% endblock %}

{% block title %}{% if object.pk %}Edit Your{% else %}Create an{% endif %} Event{% endblock %}


{% block content %}

    <div class="col-sm-8 col-sm-offset-2">
        
        <form action="" method="post">
            {% csrf_token %}
                            
            {% bootstrap_form form %}
                            
            {% buttons %}
                <button type="submit" class="btn btn-lg btn-primary btn-block">{% if object.pk %}Update My Event{% else %}Create My Event!{% endif %}</button>
            {% endbuttons %}
        </form>
                        
    </div>


{% endblock %}