{% extends "base.html" %}

{% load bootstrap3 tz %}


{% block page_title %}Events{% endblock %}

{% block title %}Events{% endblock %}


{% block content %}

        <div class="col-md-8 col-md-offset-2">
    
            <h3>Upcoming Events</h3>
    
			{% if event_list %}
	            {% for event in event_list %}
	                <div class="list-group">
	                    <div class="list-group-item clearfix">
		                   	<div class="row">
			                    <div class="col-md-8">
			                        <h5><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></h4>
			                    </div>    
			                        
			                    <div class="col-md-4">
			                        <div class="pull-right">
				                        <a href="{% url "event-edit" event.pk %}" class="btn btn-default">Edit</a>
				                        <a href="{% url "event-promote" event.pk %}" class="btn btn-primary">Promote</a>
			                        </div>
			                    </div>
		                   	</div>
	                    </div>
	                </div>
	            {% endfor %}
	            <a href="{% url "event-create" %}" class="btn btn-primary btn-block btn-lg">Create a new event <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
            {% else %}
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-muted">You do not have any upcoming events. Ready to host one?</p>
                        <a href="{% url "event-create" %}" class="btn btn-primary btn-block btn-lg">Create a new event <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                    </div>
                </div>	    
			{% endif %}
    
        
            {% if past_events %}
            	<h3>Past Events</h3>
            	 
                <div class="list-group">
                    {% for event in past_events %}
                        <a href="{{ event.get_absolute_url }}" class="list-group-item clearfix">
    	                   	<div class="row">
    		                    <div class="col-md-12">
    		                        <h5>{{ event.name }} <span class="glyphicon glyphicon-chevron-right pull-right"></span></h5>
    		                    </div>    
    	                   	</div>
                        </a>
                    {% endfor %}
                </div>
			{% endif %}
            
        </div>

{% endblock %}