{% extends "admin/base_site.html" %}

{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Hydra Administration</a></h1>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
{% endblock %}



{% block content %}
    <form action="/admin/geo-target" method="post" id="geo_form">
        {% csrf_token %}
        <div>
            <fieldset class="module aligned">
                {% for field in form.visible_fields %}
                    <div class="form-row field-{{ field.id_for_label }} {% if field.errors %}errors{% endif %}">
                        {{ field.errors }}
                        <div>
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.help_text %}<p class="help">{{ field.help_text }}</p>{% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="submit-row">
                    <input type="submit" value="Submit" class="default" name="_save" id="submitt_button"/>
                </div>
            </fieldset>
        </div>
    </form>

    {% if cons_ids %}
        <h2>Your Constituent IDs:</h2>

        <h3>Comma Separated:</h3>
        <pre>{{ cons_ids | join:", " }}</pre>

        <h3>New Line Separated:</h3>
        <pre>{{ cons_ids | join:"<br />" }}</pre>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
      $(document).ready(function () {
        var geoForm = $('#geo_form');

        $(geoForm).on('submit',function (e){
          e.preventDefault()

          $.ajax({
            method:$(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize()
          }).done(function (data) {
            console.log('submitted');
            console.log(data);
          }).fail(function (data) {
            console.log('Something went wrong.');
            console.log(data);
          })

        })
      })
    </script>

{% endblock %}
