html {
    position: relative;
    min-height: 100%;
}

body {
	margin-bottom: 370px;
	font-family: 'Lato', 'Helvetica Neue', sans-serif !important;
}

.table__buttons .btn {
    margin: 5px;
}

/* Tachyons style helpers */

.w-70 {
    width: 70%;   
}

.w-30 {
    width: 30%;
}

.mw-70 {
    max-width: 70%;
}

.mw-300 {
    max-width: 300px;
}

.mt1 {
    margin-top: 1em;
}

.bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9;
}

.relative {
    position: relative;
}

/*
.table-outer-border {
    border: 1px solid #e7e7e7;
    border-radius: 3px;
}
*/

/* Footer */

.footer {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 350px;
    margin-top: 20px;
    background: #fafafa;
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer__info {
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer p {
    font-size: 14px;
}

.footer__info p {
    margin: 0;
}

.footer__nav {
    margin-bottom: 0;
}